.calculation-results-page {
  text-align: center;
  margin-top: 20px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
}

.results-table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 80%;
}

.results-table th,
.results-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.results-table th {
  background-color: #f5f5f5;
  font-weight: bold;
}

.results-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.buttons {
  margin-top: 20px;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  font-size: 16px;
}

.btn-green-excel {
    background-color: #28a745;
    color: white;
    width: 200px;
    border-radius: 10px;
    height: 50px;
    transition: transform 0.25s ease, background-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.btn-green-excel:hover {
    background-color: #106806;
    transform: translateY(-2.5px); /* Эффект поднятия */
}

.btn-blue-db {
    background-color: #007bff;
    color: white;
    width: 200px;
    border-radius: 10px;
    height: 50px;
    transition: transform 0.25s ease, background-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.btn-blue-db:hover {
    background-color: #1234dc;
    transform: translateY(-2.5px); /* Эффект поднятия */
}

.save-status {
  margin-top: 10px;
  font-weight: bold;
  color: #4caf50; /* Зеленый цвет для успешного сохранения */
}
