.stock-selection {
    text-align: center;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.stock-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.stock-item {
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #ffffff;
    cursor: pointer;
    transition: transform 0.25s ease, background-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    height: 35px;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    width: 600px;
}

.stock-item:hover {
    background-color: #e5e5e5;
    transform: translateY(-5px); /* Эффект поднятия */
}
