.stock-selection {
  text-align: center;
  margin-top: 20px;
}


.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}


.stock-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


.stock-item {
  padding: 15px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.stock-item:hover {
  background-color: #f1f1f1;
  color: #4CAF50;
}
