body {
    font-family: 'Roboto', sans-serif;
    color: #333;
}

.stock-input-page {
    text-align: center;
    margin-top: 20px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    color: #444;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.input-label {
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
    color: #333;
}

.stock-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 250px;
    color: #333;
    background-color: #fff;
}

.submit-button {
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 15px;
}

.submit-button:hover {
    background-color: #0056b3;
}

.error-message {
    color: #ff4d4d;
    margin-top: 10px;
}

.success-message {
    color: #4CAF50;
    margin-top: 10px;
}

.value-input {
    padding: 10px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 250px;
    color: #333;
    background-color: #fff;
    margin: 7px;
}

form {
    display: grid;
}

.btn-stock {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 8px;
    width: 270px;
}

.btn-stock:hover {
    background-color: #d7d7d7;
    color: #4CAF50;
}
