body {
    font-family: 'Roboto', sans-serif; /* Можно настроить шрифт под конкретный, если нужно */
    color: #333; /* Основной текст */
}

.turbine-search {
    text-align: center;
    margin-top: 20px;
    color: #333; /* Основной цвет текста */
}

.title {
    font-size: 24px;
    font-weight: bold;
    color: #444; /* Цвет заголовков */
    margin-bottom: 20px;
}

.search-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 250px;
    color: #333; /* Цвет текста */
    background-color: #fff; /* Цвет поля ввода */
}

.turbine-item {
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #ffffff;
    cursor: pointer;
    transition: transform 0.25s ease, background-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    height: 40px;
    align-items: center;
}

.turbine-item:hover {
    background-color: #e5e5e5;
    transform: translateY(-5px); /* Эффект поднятия */
}

.turbine-name {
    font-size: 18px;
    font-weight: bold;
    color: #333; /* Цвет названия турбины */
}

.turbine-stocks {
    font-size: 14px;
    color: #888; /* Цвет для номеров стоков */
}


.turbine-search {
    text-align: center;
    margin-top: 20px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.search-bar {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.search-input {
    padding: 10px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 250px;
}

.search-button {
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 10px;
    width: 100px;
    font-size: 16px;
}

.search-button:hover {
    background-color: #0056b3; /* Темно-синий при наведении */
}

.turbine-list {
    list-style-type: none;
    padding: 0;
    width: 1000px;
    margin: 0 auto;
}

.turbine-item:hover {
    background-color: #f1f1f1;
    color: #4CAF50;
}

.turbine-name {
    font-size: 20px;
    font-weight: bold;
}

.turbine-stocks {
    font-size: 17px;
    color: #888;
    margin-left: 15px;
}
