.calculator-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex-wrap: nowrap;
    flex-direction: row;
}

.header-logo {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.header-logo img {
  height: 40px;
  margin-right: 10px;
}

.header-title {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.header-nav a {
	text-decoration: none;
	font-size: 16px;
	color: white; /* Белый текст для шапки */
	padding: 8px 12px;
	background-color: transparent; /* Без фона для ссылок */
	transition: background-color 0.3s ease, color 0.3s ease;
}

.header-nav a:hover {
  text-decoration: underline;
}

.header-nav a.active {
  font-weight: bold;
  background-color: #ccc;
}

.header-title a:hover {
	text-decoration: none;
	cursor: pointer;
}

.header-nav a.active {
  background-color: #ccc;
  font-weight: bold;
}

.logo {
    height: 50px;
    margin-left: 15px;
    margin-right: 10px;
}

.program-name {
  font-size: 24px;
  margin: 0;
}

.nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #000000;
  font-size: 16px;
}

.nav a:hover {
  text-decoration: underline;
}

.main-content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    color: #3b3b3b;
}