stages: [test, build, push]

image: docker:24.0

variables:
  DOCKER_DRIVER: overlay2
services:
  - docker:dind

build:
  stage: build
  script:
    - docker build -t $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA .
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA
  only: ["main"] 