.about-page {
  padding: 20px;
  text-align: center;
}

.about-page h1 {
  font-size: 24px;
  color: #333;
}

.about-page p {
  font-size: 16px;
  color: #666;
}

/* Стили для кнопки "На главную" */
.back-button {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #0056b3;
}
